.label{
    display: block;
    line-height: 150%;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    align-items: center;
    margin-left: 250px;
}

.decrease{
    font-size: 20px;
    font-weight: bold;
    color: red;
    margin-left: 250px;
}

.reset{
    font-size: 20px;
    font-weight: bold;
    color: blue;
    margin: 7.5px;
}

.increase{
    font-size: 20px;
    font-weight: bold;
    color: green;
    
}

.counter{
    display: block;
    line-height: 150%;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    align-items: center;
    margin-left: 250px;  

}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}

.all{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 350px;
}