
#root {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.all{
    text-align: center;
    font-family: Arial, sans-serif;
}

.counter{
    margin-top: -300px;
    margin-bottom: 50px;
    font-size: 10em;
    color: #9b8c8c;
}


.decrease{
    margin: 20px auto;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: hsl(4, 90%, 58%);
    color: white;
    border: none;
    border-radius: 5px;
}
.increase{
    margin: 20px auto;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: hsl(120, 100%, 25%);
    color: white;
    border: none;
    border-radius: 5px;
}

.reset{
    
    margin: 10px;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #e7e7e7;
    color: black;
    border: none;
    border-radius: 5px;
}

.decrease:hover{
    background-color: hsl(0, 65%, 69%);
}

.increase:hover{
    background-color: hsl(120, 61%, 54%);
}

.reset:hover{
    background-color: hsl(0, 0%, 60%);
}



