
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

#root {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all{
    text-align: center;
}



.decrease{
    margin: 20px auto;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
}
.increase{
    margin: 20px auto;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
}

.reset{
    
    margin: 10px;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #e7e7e7;
    color: black;
    border: none;
    border-radius: 5px;
}

.counter{
    font-size: 50px;;
    color: #9b8c8c;
}


